
body
    {margin: 0;
    background-color: #ffffff;
    color: rgb(25, 25, 26);
    font-size: 16px;
    font-family: 'Cabin', sans-serif;}

*,
*:before,
*::after
    {box-sizing: border-box;}

h1, h2, h3, h4, h5, h6
    {margin: 0;}

.container
    {width: 100%;
    max-width: 1170px;
    margin: 0px auto;}


/* HEADER =================================================== */
.header
    {height: 55px;}

.header__inner
    {display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;}

.header__logo h2
    {font-family:'Playfair Display', serif;
    font-style: italic;
    font-size: 40px;
    letter-spacing: 2px;}

.nav
    {display: flex;}

.nav__link
    {margin-left: 42px;
    text-decoration: none;
    font-size: 16px;
    color:rgba(25, 25, 26, 0.8);
    font-weight: 500;
    border-bottom: 2px solid #ffffff;}

.nav__link:first-child
    {margin-left: 0;}

.nav__link:hover
    {color:rgba(25, 25, 26, 1);
    border-bottom: 2px solid rgb(223, 169, 116);
    transition: 0.4s;}


/* HEADER BURGER =================================================== */
.burger
    {display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px 0px 8px 3px;}

    

.burger__item
    {position: relative;
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgba(25, 25, 26, 0.8);
    font-size: 0;
    color: transparent;}

.burger__item:hover
    {background-color: rgb(223, 169, 116);
    transition: 0.2s;}

.burger__item:before,
.burger__item:after
   {content: "";
    position: absolute;
    right: 0;
    z-index: 1;
    height: 100%;
    background-color: rgba(25, 25, 26, 0.8);}

.burger__item:before
    {top: -8px;
    width: 30px;}

.burger__item:after
    {bottom: -8px;
    width: 20px;}


/* INTRO =================================================== */
.intro
    {height: 700px;
    background: url(photo-1.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;}

.intro__inner
    {display: flex;
    padding: 0 20px;}

.intro__text
    {text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;}

.intro__text h1
    {font-family: 'Lora', serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    color: rgb(255, 255, 255);
    margin-bottom: 16px;}

.intro__text p
    {font-size: 18px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    line-height: 28px;
    margin-bottom: 35px;}

.intro__link
    {width: 125px;
    text-decoration: none;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 0.8);
    position: relative;}

.intro__link:after
    {position: absolute;
    left: 0;
    bottom: -5px;
    content:"";
    width: 100%;
    height: 2px;
    background-color: rgba(174, 135, 101, 1);}

.intro__link:hover
    {color:rgba(255, 255, 255, 1);
    transition: 0.2s;}


.intro__window
    {width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;}

.window__inner
    {padding-left: 220px}


/* INTRO BOOKING =================================================== */

.window__booking
    {background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 44px 40px 50px;}

.window__booking h3
    {margin: 0px 0px 23px 0px;
    font-family: 'Lora', serif;
    font-size: 30px;
    font-weight: 400;}

.booking__label
    {text-align: left;
    margin: 7px 0px;
    font-size: 14px;
    color: rgb(112, 112, 121);}

.booking__input
    {height: 50px;
    border: 1px solid rgb(235, 235, 235);
outline: none;
font-family: inherit;}

.booking__btn
    {height: 50px;
    margin: 30px 0px 0px 0px;
    font-size: 14px;
    text-transform: uppercase;
    border: 1px solid rgb(223, 169, 116);
    border-radius: 2px;
    color: rgb(223, 169, 116);
    font-weight: 500;
    background-color:#ffffff;
    cursor: pointer;}

.booking__btn:hover
    {color:rgb(184, 134, 85) ;
    border: 1px solid rgb(184, 134, 85);
    transition: 0.3s;}


/* SECTION ABOUTUS =================================================== */

.aboutus__inner
{margin: 0;
padding: 100px 0px 100px 0px;
width: 100%;
display: flex;}

.aboutus__text
{padding: 0px 50px;
text-align: center;}

.text__title h3
{font-size: 14px;
color: rgb(223, 169, 116);
text-transform: uppercase;
margin: 0;}

.text__title h2
{font-family: 'Lora', serif;
font-size: 44px;
font-weight: 400;
line-height: 58px;
margin: 10px 0px 0px 0px;}

.para
{color: rgb(89, 89, 96);
font-weight: 500;
line-height: 26px;
font-size: 16px;
text-align: center}

.s {margin: 20px 0px 10px 0px;}
.f {margin: 0px 0px 35px 0px;}

.aboutus__link
{font-family: inherit;
font-size: 13px;
font-weight: 600;
text-decoration: none;
text-transform: uppercase;
color:rgba(25, 25, 26, 1);
position: relative;}

.aboutus__link::after
{position: absolute;
left: 0;
bottom: -5px;
content:"";
width: 100%;
height: 2px;
background-color: rgb(223, 169, 116);}

.aboutus__link:hover
{color:rgba(25, 25, 26, 0.8);
transition: 0.2s;}

.aboutus__img
{padding: 0px 15px;}

.link__dop{display: none;}



/* MEDIA =================================================== */


@media(max-width: 1050px) /* --------------------------1050px */
{.window__inner
    {padding-left: 150px}

.aboutus__text
    {padding: 0px 20px;}}


@media(max-width: 990px ) /* --------------------------990px */
{.aboutus__inner
    {padding: 50px 0px 50px 0px;}

.img__3
    {width: 200px;}}


@media(max-width: 880px) /* --------------------------880px */
{.aboutus__inner
    {display: block;
    padding:25px 0px 25px 0px;}

.aboutus__text
    {max-width: 560px;
    margin: auto;}

.aboutus__img
    {text-align: center;
    margin: 20px 0px}

.img__3
    {width: 300px;}

.link__acutally
    {display: none;}

.link__dop
    {display: block;
    text-align: center;}}


@media(max-width: 805px) /* --------------------------805px */
{.window__inner
    {padding-left: 30px}

.nav__link
    {margin-left: 25px;}}


@media(max-width: 650px) /* --------------------------650px */
{.nav
    {display: none;}

.burger
    {display: block;}

.intro
    {height: auto;}

.intro__inner
    {display: block;}

.intro__text
    {width: 100%;
    text-align: center;
    padding: 50px 0px 50px 0px;}

.intro__window
    {width: 100%;
    margin-bottom: 50px;}

.window__inner
    {padding: 0px 20px 0px 20px;
    margin: auto;}

.window__booking
    {max-width: 400px;}

.intro__text h1
    {font-size: 60px;
    line-height:55px}

.intro__text p
    {line-height:20px;}}


@media(max-width: 450px) /* --------------------------450px */
{.intro__text h1
    {font-size: 45px;
    line-height:55px}

.intro__text p
    {font-size: 15px;
    line-height:20px;}

.text__title h2
    {font-size: 34px;
    font-weight: 400;
    line-height: 45px;
    margin: 10px 0px 0px 0px;}}
